.list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.item {
  margin: 10px;
  border: 1px solid paleturquoise;
}

.title {
  display: flex;
  justify-content: center;
}
