.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  color: #f3214f;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;

  font-size: 18px;
}
