.section {
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  display: flex;
  color: #2196f3;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
}
